.bg {
    /* The image used */
    
    /* Full height */
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    font-weight: bold;
    padding: 80px;



    
}
.secondbg {
    
    
    /* Center and scale the image nicely */
    
    font-weight: bold;
    padding: 80px;
}
.text {
    
    
    /* Center and scale the image nicely */
    
    font-weight: bold;
    
}



