
<div class="container marketing" style="margin-top:100px">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3160&q=80" alt="Generic placeholder image" width="140" height="140">
        <h2>Best Quality</h2>
        <p>We work day and night so our food is as good as it can get.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://images.unsplash.com/photo-1628840042765-356cda07504e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" alt="Generic placeholder image" width="140" height="140">
        <h2>Best Price</h2>
        <p>A lot of people would think high quaility only comes with high price, well that is not the case with Foodemy. Get your favourite food for amazing prices.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://images.unsplash.com/photo-1464349095431-e9a21285b5f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1236&q=80" alt="Generic placeholder image" width="140" height="140">
        <h2>Best Service</h2>
        <p>Sign up now and get exclusive deals only for you.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
