<div class="bg" style="background-image: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80);height: 25vh;text-align: bottom">
    <div class="container" style="text-align: center;">
    </div>
</div>

<div  style="display: flex; justify-content: center; align-items: center; flex-direction: column; height:30vh">
    
    <h1  style="color: rgb(0, 0, 0); font-weight:700">Foodemy, The smartest choice for food delivery</h1>
    <h3 class="font-weight-bold "style="margin-top:60px" >You pick your favourite slowly, we deliver it to you as fast as possible</h3>
    <!-- This is the one with the food -->
</div>


