<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container">
    <button class="navbar-nav nav-item bg-dark" type="button" style="border-style: none;" (click)="navigateToHome()"><a
      class="nav-link" aria-current="page">Foodemy</a></button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <button class="nav-item bg-dark" type="button" style="border-style: none;" (click)="navigateToHome()"><a
            class="nav-link" aria-current="page">Logout</a></button>

        

        <button class="nav-item bg-dark" type="button" style="border-style: none;" (click)="navigateToProfile()" ><img class="avatar avatar-16 bg-light rounded-circle text-white p-1"
          src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg"></button>

        <!-- This is the top navigation bar (will need renaming)-->
      </ul>
    </div>
  </div>
</nav>
<div>
  <div class="container d-flex ">
    
    <div class="overflow-auto" style="  width: 100%; ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light " style=" padding: 20px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
          aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2" >
          
          <ul class="navbar-nav mb-2 mb-lg-0">
            <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
            
          </ul>
          <ul class=" navbar-nav nav-pills ms-auto mb-2 mb-lg-0 ">
            <li >
              <button class="  nav-item btn bg-light " type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="getOriginalArray()">
                
                  <span class="badge badge-pill badge-light text-dark" >All</span>
                
              </button>
            </li>
            <li >
              <button class=" nav-item btn  bg-light " type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Pizza')">
                
                  <span class="badge badge-pill badge-light text-dark" >Pizzas</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn bg-light" type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Salad')">
                
                  <span class="badge badge-pill badge-light text-dark" >Salads</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn  bg-light" type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Burger')">
                
                  <span class="badge badge-pill badge-light text-dark" >Burgers</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn  bg-light " type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Drink')">
                
                  <span class="badge badge-pill badge-light text-dark " >Drinks</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn  bg-light " type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Dessert')">
                
                  <span class="badge badge-pill badge-light text-dark" >Desserts</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn bg-light " type="button" style=" border-radius: 10px;margin-left: 10px;margin-right: 10px;" (click)="filterProducts('Ready Meal')">
                
                  <span class="badge badge-pill badge-light text-dark" >Ready Meals</span>
                
              </button>
            </li>
            <li>
              <button class="nav-item btn  bg-light " type="button" style=" border-radius: 10px;" (click)="filterProducts('Pasta')">
                
                  <span class="badge badge-pill badge-light text-dark" >Pastas</span>
                
              </button>
            </li>
          </ul>
          <form class="ms-auto mb-2 mb-lg-0">
            

          </form>
        </div>
        <button class="nav-item btn  bg-light" type="button" style=" border-radius: 10px;" (click)="navigateToCart()">
          <i class="bi bi-cart " style="font-size: 20px;margin-left: 5px; color: black">
            <span class="badge badge-pill badge-light text-dark" >{{this.cartlist.length}}</span>
          </i>
        </button>
      </nav>
      <div class="height-100 " >
        <div class="padding " >
          <div >
            <div >   
              <!-- Draggable Without Images card start -->
              <div class="card">
                
                <div class="card-block">
                  <div class="row">
                    <ng-container  *ngFor="let food of foodData; index as i">
                      <ng-container *ngIf="i >= lowerindex && i <= higherindex -1">
                    <div class="col-md-6" *ngIf="searchText === '' || food.foodname.toLowerCase().includes(searchText)">
                      <div class="card-sub m-b-20" >
                        <img class="card-img-top img-fluid"
                          src={{food.url}}
                          alt="Card image cap"
                          height="200px">
                        <div class="card-block" style="display: flex; justify-content:space-between">
                          <div>
                          <h4 class="card-title">{{food.foodname}}</h4>
                          <p class="card-text">KCAL: {{food.kcalories}}</p>
                          <p class="card-text">{{food.price}} $</p>
                          
                        </div>
                        <div style="display: flex; justify-content:center; align-items:center" ><button class="nav-item bg-dark" type="button" style="border-style: none;  border-radius: 10px; width: 40px;height:40px" (click)="addToCart(food)"><i class="bi bi-plus" style="color: white" ></i></button></div>
                        </div>
                      </div>
                    
                    
                  </div>
                </ng-container>
              </ng-container>
                  </div>
                  <div class="container" style="display: flex; justify-content: center; align-items: center">
                  <ul class="navbar nav" style="margin-top:20px; margin-bottom:20px">
                    <li class="nav-item" style="margin-left:20px; margin-right:20px;">
                      <button class="btn" type="button"  [disabled]="lowerindex <= 0" (click)="turnPageBackward()">
                      <i class="bi bi-caret-left-fill" style="font-size: 30px"></i>
                      </button>
                    </li>
                    <li class="nav-item" style="margin-left:20px; margin-right:20px; margin-top:10px">
                      <p style="font-size: 30px">0</p>
                    </li>
                    <li class="nav-item" style="margin-left:20px; margin-right:20px;">
                      <button class="btn" type="button" [disabled]="higherindex > foodDatalength" (click)="turnPageForward()">
                      <i class="bi bi-caret-right-fill" style="font-size: 30px"></i>
                    </button>
                    </li>

                  </ul>
                  </div>
                </div>
              
              </div>
              <!-- Draggable Without Images card end -->
            </div>


          </div>
        </div>
      </div>
      
    </div>


  </div>
  
</div>