<app-header></app-header>
<div>
  <div class="container d-flex ">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style=" height:96vh; width:15vh ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Filters</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            Pizzas
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2" />
            </svg>
            Hamburgers
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table" />
            </svg>
            Pastas
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid" />
            </svg>
            Salads
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#people-circle" />
            </svg>
            Desserts
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
    <div class="overflow-auto" style=" height:95vh; width: 100%; ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light " style=" padding: 20px;">
        


        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          
          <ul class="navbar-nav mr-auto">
            <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
          </ul>
          <form class="navbar-nav ms-auto mb-2 mb-lg-0">
            <button class="btn btn-primary bg-dark" type="button" style="border-style: none; border-radius: 10px;" (click)="navigateToCart()">
              <i class="bi bi-cart " style="font-size: 20px; color: white">
                <span class="badge badge-pill badge-light" >0</span>
              </i>
            </button>

          </form>
        </div>
      </nav>
      <div class="height-100 " >
        <div class="padding " >
          <div >
            <div >   
              <!-- Draggable Without Images card start -->
              <div class="card">
                
                <div class="card-block">
                  <div class="row">
                    <ng-container  *ngFor="let food of foodData">
                    <div class="col-md-6" *ngIf="searchText === '' || food.foodname.toLowerCase().includes(searchText)">
                      <div class="card-sub m-b-20" >
                        <img class="card-img-top img-fluid"
                          src={{food.url}}
                          alt="Card image cap"
                          height="150px">
                        <div class="card-block" style="display: flex; justify-content:space-between">
                          <div>
                          <h4 class="card-title">{{food.foodname}}</h4>
                          <p class="card-text">KCAL: {{food.kcalories}}</p>
                          <p class="card-text">{{food.price}} $</p>
                        </div>
                        <div style="display: flex; justify-content:center; align-items:center" ><button class="nav-item bg-dark" type="button" style="border-style: none;  border-radius: 10px; width: 40px;height:40px" (click)="addToCart()"><i class="bi bi-plus" style="color: white" ></i></button></div>
                        </div>
                      </div>
                    
                    
                  </div>
                </ng-container>
                  </div>
                </div>
              
              </div>
              <!-- Draggable Without Images card end -->
            </div>


          </div>
        </div>
      </div>
    </div>


  </div>
</div>