
    <div >

      
      <app-header></app-header>
      
      <header class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="fw-light" style="color: white;">Get the best quality food while never having to leave your home</h1>
              <p class="lead" style="color: white;">It is so simple you wouldn't believe it</p>
            </div>
          </div>
        </div>
      </header>

      <section class="py-5">
        <div class="container">
          <h2 class="fw-light">Why Choose Foodemy?</h2>
          <p>If you are one of the many people who loves eating, but doesn't actually want to leave the comfort of their home to get it, Foodemy is the perfect choice. Our Goal is to bring the most excellent food right to your doorstep</p>
        </div>
      </section>


      <hr class="featurette-divider">

      <div class="row featurette" style="display: flex; justify-content: center; align-items: center">
        <div class="col-md-5">
          <h2 class="featurette-heading">Wide variety of foods <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Don't think we just serve Schnitzel with mashed potatoes. You can have anything your tummy desires.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" style="display: flex; justify-content: center; align-items: center">
        <div class="col-md-5 order-md-2" >
          <h2 class="featurette-heading">Best quality at a standard price? <span class="text-muted">Yes, here it is possible</span></h2>
          <p class="lead">How many times have you been to a restaurant, seen amazing looking foods, but the price tag kept bothering you. Yeah here you can say goodbye to that feeling</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" style="display: flex; justify-content: center; align-items: center">
        <div class="col-md-5">
          <h2 class="featurette-heading">And we saved the best for last <span class="text-muted">Personalize your palette</span></h2>
          <p class="lead">If you ae still not amazed, we will keep your Foodemy journey updated with new weekly deals for different meals. Try out somenew things as well</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

    </div>
    <app-footer></app-footer>
  
