<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>One of the greatest and most reliable food delivery coorporations in the world!</h2>
                <p class="lead">Garantueed Money back and free shipping if the delivery is more than 30 seconds.</p>
                <p class="mb-0">Make the right choice. Choose Foodemy.</p>
                <!-- This is the middle informational section -->
            </div>
        </div>
    </div>
  </section>
