
<app-header></app-header>
<app-header2></app-header2>
<app-informationalsection1></app-informationalsection1>
<!-- Image element - set the background image for the header in the line below-->
<app-header3></app-header3>
<!-- Content section-->
<app-informationalsection2></app-informationalsection2>
<!-- Footer-->
<app-footer></app-footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>