.bg {
    /* The image used */
   
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1526367790999-0150786686a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3500&q=80');
    /* Full height */
    height: 55rem;
    /* Center and scale the image nicely */
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
.heading {
    font-weight: bold;

  }